# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.venv/
venv/
env/

# Environment files
.env
.env.*
!.env.example

# macOS
.DS_Store

# VS Code
.vscode/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Docker
*.pid

# Kubernetes / temp
*.tmp